.apresentacao {
  color: white;
  margin: 50px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apresentacao-nome {
  font-family: "Fira Sans";
  font-size: 2rem;
}

.apresentacao-nome span {
  color: #2708ee;
}

.apresentacao-nome h1 {
  width: 400px;
  font-size: 3.5rem;
}

.apresentacao-nome p {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3rem;
  text-decoration: overline;
  letter-spacing: 0.02em;
  color: #c2bfbf;
}

.apresentacao-foto {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 29px;

  letter-spacing: 0.02em;

  color: #c2bfbf;
}

.apresentacao-foto p {
  font-size: 2rem;
  margin-top: 10px;
}

.apresentacao-foto img {
  max-width: 100%;
  -webkit-transform: scale(1);
  -webkit-transition: 0.5s ease-in;
}

.apresentacao-foto img:hover {
  -webkit-transform: scale(1.09);
  -webkit-transition: 0.5s ease-in;
}

@media (max-width: 900px) {
  .apresentacao-nome h1 {
    font-size: 2.5rem;
    width: 280px;
    line-height: 2rem;
  }
  .apresentacao-nome p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media (max-width: 800px) {
  .apresentacao-nome h1 {
    font-size: 1em;
    width: 250px;
  }

  .apresentacao-nome p {
    font-size: 1.2rem;
  }

  .apresentacao-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .apresentacao-foto img {
    max-width: 50%;
  }
  .apresentacao-foto p {
    position: relative;
    left: -30px;
    font-size: 1.5rem;
  }
}

@media (max-width: 670px) {
  .apresentacao-foto p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .apresentacao {
    display: block;
  }
  .apresentacao-nome h1 {
    width: 250px;
    font-size: 2.1rem;
  }
  .apresentacao-nome p {
    font-size: 1.5rem;
  }
  .apresentacao-foto {
    display: none;
  }
}
