.habilidade-titulo h1 {
  margin-bottom: 30px;
}

.habiliades-projetos {
  margin: 0px 5px;
  color: white;
}

.habiliades-projetos ul {
  display: grid;
  align-items: center;
  grid-template-columns: 180px 180px 180px;
  justify-content: center;
  justify-items: center;

  gap: 50px 80px;
}

.habiliades-projetos ul li {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fefbfb;
  background-color: blue;
  padding: 18px 25px;
  width: 140px;
  height: 30px;

  /* grid */

  display: grid;
  grid-template-columns: 1fr 150px;
  align-items: center;
  gap: 0px 10px;
}

.habiliades-projetos ul li img {
  width: 28px;
}

.habiliades-projetos ul li p {
  font-size: 1.5rem;
}

.habiliades-projetos ul li:nth-child(2n + 1) {
  background-color: #040c38;
}

.habiliades-projetos ul li:nth-child(2n) {
  background-image: linear-gradient(to right, #3a24c0, #2e086c);
}

@media (max-width: 800px) {
  .habiliades-projetos ul {
    gap: 25px 40px;
  }
}

@media (max-width: 700px) {
  .habiliades-projetos ul {
    gap: 10px 20px;
  }

  .habiliades-projetos ul li {
    padding: 5px 8px;
  }

  .habiliades-projetos ul li img {
    width: 25px;
  }

  .habiliades-projetos ul li p {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .habiliades-projetos ul {
    gap: 30px 20px;
    grid-template-columns: 200px 200px;
  }

  .habiliades-projetos ul li:nth-child(1n) {
    background-image: linear-gradient(to right, #040c38, #040c38);
  }

  .habiliades-projetos ul li:nth-child(4n + 1) {
    background-image: linear-gradient(to right, #3a24c0, #6200ff);
  }
  .habiliades-projetos ul li:nth-child(4n + 4) {
    background-image: linear-gradient(to right, #3a24c0, #6200ff);
  }
}

@media (max-width: 430px) {
  .habiliades-projetos ul {
    gap: 20px 20px;
    grid-template-columns: 150px 150px;
  }
  .habiliades-projetos ul li p {
    font-size: 1.1rem;
  }
  .habiliades-projetos ul li {
    padding: 5px 8px;
    width: 120px;
  }
}

@media (max-width: 360px) {
  .habiliades-projetos ul {
    gap: 20px 50px;
    grid-template-columns: 100px 100px;
  }
}
