.sobre {
  margin: 0px 150px 0px 150px;
  color: white;
}

.sobre p {
  margin-top: 20px;
  text-align: center;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.07rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fefbfb;
}

.sobre p span {
  color: #2708ee;
}

.sobre p {
  color: #b0b0b0;
}

@media (max-width: 700px) {
  .sobre {
    margin: 0px 90px 0px 60px;
  }
  .sobre p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
  }
}

@media (max-width: 500px) {
  .sobre h1 {
    font-size: 2rem;
  }
  .sobre p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
  }
}
