body {
  background: linear-gradient(#da2186, #ffffff) no-repeat;
  height: 800px;
}

h1 {
  text-align: center;
}

.respostaPri {
  margin-top: 40px;
  display: grid;
  gap: 80px;
  justify-content: center;
  grid-template-columns: 150px 150px;
}

.pri {
  z-index: 2;
  text-align: center;
  background-color: white;
  padding: 12px 24px;
  border-radius: 5px;
  border: 2px solid white;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
button:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.perigo {
  position: relative;
}

.vaiCasar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.fontes {
  text-align: center;
  font-family: "Lobster", cursive;
}

.condicoes {
  font-size: 1.2rem;
  text-align: center;
}

.vaiCasar {
  display: inline-block;
  position: relative;
  top: -130px;
  left: 250px;
  z-index: 0;
}
